[2016-08-18 03:55] jwpnet opened #1 "does alexa support exclamation mark?"
The documentation on amazon developer site only mentions "." "," "?" as characters that influence the speech. Does exclamation mark actually change alexa's voice? I can't hear a difference.

[2016-09-18 18:39] deegles commented on #1
Hi Jonathan,

Currently there are is a limited set of characters that influence the Alexa's Text-to-speech (TTS) rendering. You can use SSML to set the pronunciation of a word or to add pauses as needed.

SSML Reference: https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/speech-synthesis-markup-language-ssml-reference

Also, take a look at our Voice Design Best Practices pag

[2016-09-18 18:39] #1 closed, assigned to nobody

[2016-09-22 07:36] TDA opened #3 "Sample app does not handle exit/quit/close"
Hello,
The sample app does not seem to handle the phrases "Exit/close/quit" even though these are required for certification. Whats more, even if you _do_ add these to the `sample utterances` and test out on developer.amazon.com, it does not seem to work at all:

[code]

Also, just testing this on Lambda, with a `Alexa End session` with edited App ID fails with the message:

[code]

EDIT: Similar

[2016-09-24 22:19] radski opened #4 "t.t0.message.includes in a not a function"
I'm following the tutorial (https://developer.amazon.com/public/community/post/Tx3DVGG0K0TPUGQ/New-Alexa-Skills-Kit-Template:-Step-by-Step-Guide-to-Build-a-Fact-Skill) and getting "t.t0.message.includes in a not a function" when trying to create the lambda action (after uploading the zip). Just posting this in case anyone knows the resolution and for future reference.

[2016-09-24 22:28] deegles commented on #4
Hi Radski,

Could you provide more details on how you built the zip and your code changes?

[2016-09-25 12:10] radski commented on #4
Hi deegles, thanks for coming back. I was just following the tutorial so no custom changes. Pull from here, zipped up content of the src directory and tried doing step 12 of the tutorial "Create Function". (click create fuction to get ARN). This is where the error message appears. Screengrab attached.
![lambda management console - mozilla firefox_2016-09-25_13-09-41](https://cloud.githubuserconten

[2016-10-01 16:45] lirenlin commented on #4
I had exactly the same issues when using python execution environment.
Not matter what I put in the code.

[2016-10-04 13:03] hemkantc commented on #4
Hi ,
I am also getting the same error while creating Hello World lambda using Node JS.
I checked on my friend's account , he is able to create it successfully. But when tried the exact config its giving me the annoying error.
Also there is nothing on AWS or google for it.
Please let us know if anybody is able to resolve it.

[2016-10-04 19:25] radski commented on #4
That's interesting hemkantc - did you try on the same computer/same browser?

[2016-10-07 21:19] lirenlin commented on #4
I tried it on Chrome browser, it works. However, firefox doesn't.

[2016-10-20 12:26] RedRoxProjects commented on #3
Hey @TDA @PaulCutsinger @deegles - I encountered this issue when trying something with the alexa skill sample at a hackathon, couldn't find a way out once I'd got into the error - are there any updates on this?

[2016-10-20 19:18] TDA commented on #3
@DickensA tbh, I never got a response to this, I just re-submitted a bunch of times and gave up. There is an article on the forums for this, apparently this need not be supported: https://forums.developer.amazon.com/forums/thread.jspa?threadID=8941&tstart=0
But the reviewers dont seem to know that. :\

[2016-10-24 20:10] delianides commented on #3
Your app might need to respond to an `Unhandled` option as a possibility for Intents.

[code]

I found this out when I misspelled an intent and the app didn't know how to process the request. Kind of acts like a `default` option inside a switch statement.

[2016-10-26 20:40] radski commented on #4
Thanks lirenlin,
the reason for not using chrome was that the upload doesn't work there, but it does in FF.
![image](https://cloud.githubusercontent.com/assets/16647248/19744281/beae06f8-9bc4-11e6-844f-fb3ba19370e6.png)

same on Opera by the way ...

[2016-11-15 15:40] varungoyal44 commented on #3
I have this function in the code, it still seems to be stuck!

[2016-11-15 16:17] varungoyal44 commented on #3
I found the error in my code, I was missing:-
the "Unhandled" function at first then i was missing
module.exports = handlers;

in the intentHandlers.js

[2016-12-25 18:01] stratospheres opened #9 "Select the ‘Code Entry Type’ as ‘Upload Zip File’ and upload the zip file containing the example you created in Step 1."
There's no description of creating such a zip file.  It appears that this is telling me to pull the repo and create a ZIP file with a portion of the source files, but this is really confusing, especially for an intro level tutorial.  The tutorial should have clear instructions on how to get this file.

[2016-12-25 18:08] stratospheres commented on #9
Now that I work through it, it appears that not only do you need to pull the repo, but you need to restore the node_modules directory (not included in the repo) by doing an "npm restore" as well.  Definitely not an entry level tutorial thing, especially for Node newbies.  Definitely deserves a pretty clear walkthrough on getting the source ready for the Lambda by pulling the repo, restoring the no

[2017-01-03 22:41] khearnshaw commented on #9
I see I'm not the only one having this issue. Completely stuck here and no idea how to create this zip file.

@stratospheres I don't suppose you could share the correctly formatted zip file or instructions for how to create it could you? I'm one of the Node newbies you speak of :)

[2017-01-07 23:47] jMCHammer commented on #9
@khearnshaw this requires npm to be installed. If not already, the steps can be found here https://docs.npmjs.com/cli/install .

`cd src`
`npm install`
to resolve dependencies. Then zip the src folder contents. That should work.

[2017-01-30 02:05] alexa-ai opened #10 "How to maintain the session?"
Hi, I am modifying the code to include repeat intent. I need to maintain the session attributes to get the repeat working. If you know how to maintain the session, please let me know. Thanks.

FYI -- The following is the code I added for repeatIntent:

`    'AMAZON.RepeatIntent': function () {
        var reprompt = this.t("HELP_MESSAGE");
        console.log('Inside RepeatIntent Stored speech att

[2017-02-13 12:21] furkando commented on #10
[code]

[2017-03-15 12:25] nmwalkers opened #13 "Having issues "errorMessage": "Cannot find module '/var/task/index'","
I am on mac and for some reason this happens when i try on Lambda to test the function

{
  "errorMessage": "Cannot find module '/var/task/index'",
  "errorType": "Error",
  "stackTrace": [
    "require (internal/module.js:12:17)"
  ]
}

[2017-03-21 09:29] AndyMayJE commented on #3
Exit is a command baked into Alexa.

If you receive this error when saying 'exit'

You can add this intent to your handler to capture exit and clean up any sessions:

[code]

[2017-04-16 22:18] alexa-ai commented on #10
Thanks @furkandoganktf. I am not sure if this will provide correct fact when the user says repeat -- which was the goal. I had to use alexa-sdk to accomplish that.

[2017-04-16 22:18] #10 closed, assigned to nobody

[2017-05-08 15:59] danainschool opened #15 "missing instructions for first lambda role"
the instructions referenced in 2-lambda-function.md for setting up your first lambda role https://github.com/alexa/skill-sample-nodejs-fact/blob/master/step-by-step/LAMBDAROLE.md is missing.

[2017-05-23 21:06] pavanpo commented on #15
We will get it fixed. For now, pls. refer to https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/deploying-a-sample-skill-to-aws-lambda#creating-the-lambda-function-for-the-sample (relevant section copied below):

Defining a New Role for the Function

The role specifies the AWS resources your function can access. To create a new role while configuring your function:

    For

[2017-05-23 21:23] jeffblankenburg commented on #15
This has been fixed.  My apologies for not updating this.

[2017-05-23 21:23] #15 closed, assigned to nobody

[2017-05-26 18:18] shootoke commented on #13
I have the same issue here. Could anybody help, please?

[2017-06-03 12:35] erikwithuhk opened #17 "Broken URL in step-by-step/2-lambda-function.md"
The current hyperlink to the lambda role tutorial points to `step-by-step/LAMBDAROLE.md` but the file is actually at the project root.

[2017-06-03 12:45] erikwithuhk opened #19 "Images broken in lambda-role.md"
`lambda-role.md` uses a number of images that have been removed. Either new screenshots need to be added or the old ones restored.

[2017-06-07 02:11] navinkare opened #20 "Issues with skill endpoint"
Hi,
I applied for certification after following the skill-sample guide and got below response from Amazon.

"Future versions of the Alexa Skills Kit may add new properties to the JSON request and response formats, while maintaining backward compatibility for the existing properties.  When we invoke the skill with additional parameters, the skill is rejecting it when we expect this to be accepted.

[2017-06-15 04:33] cancinos commented on #13
This link should help you guys [Zipping files for AWS](http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/applications-sourcebundle.html#using-features.deployment.source.gui) @shootoke @nmwalkers

[2017-06-15 21:02] 1bladesforhire commented on #20
In your handlers, you changed your function name to GetNewCricketFact, but you didn't change the launch request to the same. Your launch request is still GetNewFactIntent which does not exist now.

[2017-06-17 19:33] jersharocks opened #22 "Immediately ends session after telling fact"
I used this code to make a fact skill but it immediately ends the session after giving the fact. Just saying "Alexa, open ___ facts" gives the fact and then is done. How can I get the session to stay open? I cannot figure it out. I have tried adding more intents. I've tried adding to the code. I'm definitely a newbie but I can usually figure things out but this is driving me nuts. I just want the

[2017-06-17 20:17] alectec opened #23 "Setting up a Lambda role link is broken"
https://github.com/alexa/skill-sample-nodejs-fact/blob/master/step-by-step/LAMBDAROLE.md

[2017-06-17 23:39] RollandWaters commented on #22
I'm seeing this as well. In the Developer test, asking "help" gives this (partial snippet) in the response:
    _"shouldEndSession": false
    },
   "sessionAttributes": {}_

But a fact utterance gives this:
   _"shouldEndSession": true
   },
  "sessionAttributes": {}_
Beta testing with a wand shows it does not exit when asked for help, but does exit after a single fact.

[2017-06-19 22:44] RollandWaters commented on #22
As I look at the HelloWorld alexaSkill.js, e.g.:

https://github.com/amzn/alexa-skills-kit-js/blob/6c59448d8bb2701433ab7e117574199012bedd3f/helloWorld/src/AlexaSkill.js, "shouldEndSession" seems to be intentionally set to true:

        _tell: function (speechOutput) {
            this._context.succeed(buildSpeechletResponse({
                session: this._session,
                output: speechO

[2017-06-21 15:24] arpita8 opened #25 "Lambda ARN"
Where can i find the  Lambda's ARN (Amazon Resource Name)

[2017-06-21 15:25] #25 closed, assigned to nobody

[2017-06-21 16:07] RollandWaters commented on #22
After a conversation with Robert McCauley in yesterday's Alexa Dev Office Hours, it appears that this behavior on part of Alexa is intentional.

That is to say, Alexa's conversational model is inherently transaction from a speech acts theory perspective, and not currently intended to have a Tell / (natural timeout) or a Tell / (natural pause before the next step).

The supported pattern is :ask wi

[2017-06-22 14:06] jeffblankenburg commented on #23
Updated the link.  Thanks!

[2017-06-22 14:06] #23 closed, assigned to nobody

[2017-06-22 14:06] jeffblankenburg commented on #17
Updated.  Thanks!

[2017-06-22 14:06] #17 closed, assigned to nobody

[2017-06-22 14:13] jeffblankenburg commented on #19
Image paths have been updated.  Thanks!

[2017-06-22 14:13] #19 closed, assigned to nobody

[2017-06-22 14:19] jeffblankenburg commented on #22
@jersharocks this is the intended behavior, but it is relatively easy to modify.  Search your code file for ":tell", and change it ":ask".  This will tell Alexa to keep the microphone open after she provides a fact, and allow the user to ask for another.

Keep in mind that you will also have to append something to Alexa's response to ask the user a question, like "What would you like to do now?" s

[2017-06-22 14:19] #22 closed, assigned to nobody

[2017-06-22 14:22] jeffblankenburg commented on #20
@1bladesforhire is correct.  Have you been able to correct and test it with her suggestions?

[2017-06-23 02:32] LinusSkucas opened #26 "The remote endpoint could not be called, or the response it returned was invalid."
I am very new at developing with alexa. I followed to tutorial but when I get into the testing section it gives me an error:
`The remote endpoint could not be called, or the response it returned was invalid.`
Don't know what I did wrong - the arn is copied correctly.
I'm following the tutorial here: [https://developer.amazon.com/alexa-skills-kit/tutorials/fact-skill-4](url)

[2017-06-23 02:50] alephnode commented on #26
I'm working through this tutorial tonight and can confirm that I'm getting the same error on the testing section.

[2017-06-23 03:43] alephnode commented on #26
Looks like tonight (06/22/2017) the N. Virginia center is experiencing issues with Lambda services:

https://status.aws.amazon.com/

Error message: 6:26 PM PDT  We are investigating increased error rates for Lambda integrations and Custom Authorizers in the US-EAST-1 Region.

I just tried a separate tutorial (https://github.com/alexa/skill-sample-nodejs-howto) and selected the Ireland service cent

[2017-06-23 14:58] LinusSkucas commented on #26
Thanks, should of checked there.

[2017-06-24 21:28] navinkare commented on #20
@1bladesforhire , thank you.

[2017-06-24 21:28] #20 closed, assigned to nobody

[2017-06-25 16:42] swapnilsaykar commented on #26
I am still facing the same issue in both N. Virginia and Ireland

[2017-06-25 16:43] swapnilsaykar opened #27 "The remote endpoint could not be called, or the response it returned was invalid."
I am new at developing with alexa. I followed to tutorial but when I get into the testing section it gives me an error:
The remote endpoint could not be called, or the response it returned was invalid.

Don't know what I did wrong - the arn is copied correctly.
I'm following the tutorial here: https://developer.amazon.com/alexa-skills-kit/tutorials/fact-skill-4

I am facing the issue in both N Vir

[2017-06-25 16:58] swapnilsaykar commented on #27
In Cloudwatch logs, this is the error I am getting:

{
    "errorMessage": "No 'Unhandled' function defined for event: Unhandled",
    "errorType": "Error",
    "stackTrace": [
        "AlexaRequestEmitter.EmitEvent (/var/task/node_modules/alexa-sdk/lib/alexa.js:194:15)",
        "AlexaRequestEmitter.ValidateRequest (/var/task/node_modules/alexa-sdk/lib/alexa.js:160:23)",
        "HandleLambdaEven

[2017-06-25 17:06] LinusSkucas commented on #26
Are you sure? I just checked [status.aws.amazon.com](status.aws.amazon.com)  and it looked all right.

[2017-06-25 17:39] swapnilsaykar commented on #26
Yup - I am sure. This is the error I am getting as per my cloudwatch logs:

2017-06-25T17:21:41.029Z c0c17851-59ca-11e7-b02a-b1b3a688e889
{
    "errorMessage": "No 'Unhandled' function defined for event: Unhandled",
    "errorType": "Error",
    "stackTrace": [
        "AlexaRequestEmitter.EmitEvent (/var/task/node_modules/alexa-sdk/lib/alexa.js:194:15)",
        "AlexaRequestEmitter.ValidateReque

[2017-06-25 17:40] swapnilsaykar commented on #27
Same issue as this - https://github.com/alexa/skill-sample-nodejs-fact/issues/26

[2017-06-25 17:40] #27 closed, assigned to nobody

[2017-06-25 17:52] swapnilsaykar commented on #26
I tried adding sessions handler as suggested in this:
https://github.com/alexa/skill-sample-nodejs-calendar-reader/issues/6

var newSessionHandlers = {
    'LaunchRequest': function () {
        this.handler.state = states.SEARCHMODE;
        this.emit(':ask', skillName + " " + welcomeMessage, welcomeMessage);
    },
	'Unhandled': function () {
        this.emit(':ask', HelpMessage, HelpMessage);

[2017-06-25 18:23] LinusSkucas commented on #26
In the developer console go to the testing page for your skill and follow the instructions to test it. When you click ask [your skill name] does it return `The remote endpoint could not be called, or the response it returned was invalid.`?

[2017-06-26 06:34] swapnilsaykar commented on #26
Yes - that is what is returns. In the developer console I am going to the testing page for the skill and then following the instructions.

I am getting the error - The remote endpoint could not be called, or the response it returned was invalid.

[2017-06-26 14:51] LinusS1 commented on #26
On Sun, 25 Jun 2017 23:34:29 -0700
swapnilsaykar <notifications@github.com> wrote:

Are you sure? Every thing looks good.

[2017-07-01 02:09] aledalgrande opened #28 "This tutorial needs upgrading"
The interface has some changes/additions, mostly due to the new Echo Show I think.

[2017-07-17 15:24] cyanliu-zzz commented on #28
Along that same vein of thought, I was wondering why all of the steps feature redundant screenshots; they don't really render too clearly on retina and/or larger displays. I get that it's not really feasible to write and style actual elements in Markdown, but in events like these when the interface changes, the screenshots lose their value

[2017-08-17 02:39] torrancejr commented on #26
Was this issue resolved? Having the same issue

[2017-08-24 23:40] JOSEPHREDDY07 opened #33 "Cannot find module 'alexa-sdk'" error at LAMDA FUNCTION"
I'm new to Alexa skills, I fallowed all the steps. Here's the error I get on this line "var Alexa = require("alexa-sdk");". Am I doing something wrong? Or is there some configuration setting I need to do?

{
"errorMessage": "Cannot find module 'alexa-sdk'",

[2017-09-08 11:42] deepak0dk opened #35 "Error in Testing Step - Service Simulator"
After entering the utterance "Tell me a fact", I am getting error as **"The remote endpoint could not be called, or the response it returned was invalid."**  I tried the troubleshooting step, and it was fine, but in logs I found some Application ID issue. (Please check the attachment).
Can you please help me on this?
![image](https://user-images.githubusercontent.com/31766569/30210097-b40b3cbe-94b

[2017-09-24 00:46] gautamdevkhanna commented on #26
Same for me as well...

[2017-09-29 03:38] robwhite4 commented on #33
You should fire up a terminal (as administrator) and ->

[code]

This will install the project deps (from the package.json file) into a `node_modules` directory from which your project can access them.

See: https://docs.npmjs.com/cli/install for more.

Hope this helps.

Good luck!  👍

[2017-09-29 03:47] robwhite4 commented on #33
Also, I guess you are coding your function on Lambda directly.  I can't guide you in requiring external libraries on lambda from their code editor.  I use [serverless](https://serverless.com/) to package and deploy my lambda functions.

There are others, but I haven't played with them much; which are:

* [Claudia Js](https://claudiajs.com/)
* [APEX](http://apex.run/)

(..there are more but I can't

[2017-09-30 23:20] Nsould opened #37 "Error: Unhandled function is undefined...."
I'm very new to making skills for Alexa, so trying to follow along but I'm stuck. Seems like I'm having a problem while testing using the skill code that's provided in this tutorial. When I test the sample code in the Lambda function code box, I get an error that states that the unhandled function is undefined. This seems to be a problem with a few folks, so I found the following code that helped

[2017-10-14 21:06] daverathbone opened #38 "Amazon Alexa Development Site Changed!"
This Alexa skill sample documentation needs  updating to reflect to changes made in the developer console.
If you would like help more developers you should UPDATE your documentation as this makes this current sample guide for development using its tools near impossible!!!!
If you did put this repository to help others great! if not remove it we don't need to feed your star ego!

[2017-10-14 21:11] daverathbone commented on #28
Yep ... Here you will find outdated work, not supported by Amazon? look for more current demos before time investment

[2017-10-14 21:27] daverathbone commented on #37
Yep ... Here you will find outdated work, not supported by Amazon? look for more current demos before time investment

[2017-10-14 21:28] daverathbone commented on #35
Yep ... Here you will find outdated work, not supported by Amazon? look for more current demos before time investment

[2017-11-04 10:14] polyren opened #41 "Cannot find module './question'"
I copied and pasted the code then tested, but it doesn't work.
{
  "errorMessage": "Cannot find module './question'",
  "errorType": "Error",
  "stackTrace": [
    "Function.Module._load (module.js:417:25)",
    "Module.require (module.js:497:17)",
    "require (internal/module.js:20:19)",
    "Object.<anonymous> (/var/task/index.js:16:19)",
    "Module._compile (module.js:570:32)",
    "Object.Mo

[2017-11-10 01:20] JennJin commented on #41
I don't see the './question' module in the index.js:
https://github.com/alexa/skill-sample-nodejs-fact/blob/en-US/lambda/custom/index.js

Where do you see that code? I don't think this is the right Repo.

[2017-11-10 01:38] JennJin commented on #38
I completely understand your frustration. The Team has every intention of ensuring the content is kept up to date, but at times fall behind. We welcome any assistance from the Alexa Dev Community to help us keep the content current.

[2017-11-10 01:38] #38 closed, assigned to nobody

[2017-11-10 05:03] SleepyDeveloper commented on #41
The fact sample skill doesn’t load any modules called question, but the trivia sample skill does.  The trivia skill has a different set of instructions to deploy to Lambda. You’ll either have to upload a zip file or use the ask cli to push up your code.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-10 08:10] polyren commented on #41
I fixed this issue by creating a new project folder, thank you guys. I will close this question

[2017-11-10 08:10] #41 closed, assigned to nobody

[2017-11-12 20:57] #4 closed, assigned to nobody

[2017-11-12 20:58] #3 closed, assigned to nobody

[2017-11-12 20:58] #9 closed, assigned to nobody

[2017-11-12 20:58] #13 closed, assigned to nobody

[2017-11-12 20:58] #33 closed, assigned to nobody

[2017-11-12 22:43] TDA commented on #3
@JennJin I see that you have closed a bunch of issues today, is there an official way to handle this? I would like to see a response from the core team on what the right way to solve this is, before closing it out.

[2017-11-13 00:58] JennJin commented on #3
@TDA, sorry for the confusion. I've been asked to go through and close out 'old' open Issues.

I closed this one because it's not an issue with the sample code.

"Exit" and "Quit" are reserved words for a 'hard exit' on a Session. They route to a System Intent that immediately ends the current session. The skill will receive a "SessionEndRequest" with the 'Reason' = "USER_INITIATED".
["SessionEndR

[2017-11-13 04:50] TDA commented on #3
@JennJin Thanks for the detailed explanation :) That is pretty much what I expected, it appears that the certification team isn't caught up with that yet. I will continue the discussion on the forums. Thank you!

[2017-11-13 07:32] hideokamoto commented on #37
Where have you been testing the skill ?
Could you copy & paste your invoke event parameters ?

## example

[code]

[2017-11-13 20:47] trinipeng commented on #26
I am getting the same error.

[2017-11-14 02:31] LinusSkucas commented on #26
Check what the skill is returning. If something is off in the response, then Alexa won't like it. Test the skills response in the AWS console.

[2017-11-14 03:49] LinusSkucas commented on #35
This is related to issue #26

[2017-11-14 13:59] hazelwolf opened #44 "Something went wrong"
I followed the tutorial as is and tested it I am getting the correct response that is json object while testing in Alexa skill kit but when I try it on real device (echo) it keeps saying something went wrong.

[2017-11-19 16:39] lawardy commented on #26
In Lambda, check timeout value (basic setting >> timeout).

When I used default 3 secs, I got the same error. When I changed to 30 secs, it works.

Maybe it need more time to load the 1st time or 3 secs is just not enough.

[2017-11-22 19:08] AITB commented on #26
I'm having this issue too. The solutionby @lawardy didn't solve my issue.
I am getting this issue from following both the fact and trivia skill tutorials. I have followed these before and having workings skills for both of these. My recent skills, following the same tutorials, all show this error. I have also tried to change the default endpoint of my broken skills to one of the skills that does w

[2017-11-25 23:00] LinusSkucas commented on #26
I've given up on using this and have switched entirely to [flask-ask](https://github.com/johnwheeler/flask-ask). This is far the best (in my opinion) sdk.

[2017-11-27 06:06] melrom commented on #26
I can confirm I have this same issue.

[2017-11-27 06:46] melrom commented on #26
Hi - I was getting this error but it was because the name that I gave my intent in the skills builder did not match the js example for lambda. Namely, `GetNewFactIntent` -- you must name the intent in the skills builder to be exactly the same (or alternatively, change this line in the lambda code example [currently, it's line 112]). Just figured I would add this since I was getting the same error

[2017-12-09 08:24] TylerNoblett opened #48 "Skill works fine in Simulator, but anything beyond the opening invocation fails to work"
Hi! I followed this tutorial and submitted a skill to Amazon. I forgot about and came back two months later to see it had a fair amount of use, but the 1 review posted said that it opened but that subsequent commands didn't work. I checked the metrics, and that appears to be the case for everyone who downloaded it.

I didn't have any issues in the simulator, but when I tested it on echoism.io I ha

[2017-12-10 20:37] ConorMatthews commented on #26
That worked for me!
Thanks so much!

[2017-12-10 20:43] nstajduhar commented on #26
@ConorMatthews How did you fix this??

[2017-12-10 20:53] ConorMatthews commented on #26
@nstajduhar I followed @melrom instructions because it was calling an intent list that was not there because when setting the intents up i did not follow the instructions advice to call it `GetNewFactIntent`, but called it otherwise. In the code it tries to call `GetNewFactIntent` however it was not named that so you need to go into your code and change `GetNewFactIntent` to whatever you called yo

[2017-12-10 20:54] nstajduhar commented on #26
@ConorMatthews where is this `GetNewFactIntent`? I have no clue where to find that

[2017-12-10 20:56] ConorMatthews commented on #26
@nstajduhar if you go to the example code where you changed the facts, on line 112 there should be the code, just change that.
Alternatively change your intent lists name to `GetNewFactIntent`

[2017-12-10 20:57] nstajduhar commented on #26
@ConorMatthews facts? I didn't come across that? Can you link a screenshot

[2017-12-10 20:59] ConorMatthews commented on #26
Are you using https://developer.amazon.com/alexa-skills-kit/tutorials/fact-skill-1 as a starting point?
If not try it

[2017-12-10 21:00] ConorMatthews commented on #26
That is a tutorial made by amazon

[2017-12-10 21:02] nstajduhar commented on #26
I have done all this but I don't see anywhere with a line number 112

[2017-12-10 21:06] nstajduhar commented on #26
@ConorMatthews nvm I got it now thanks!

[2017-12-16 11:19] TylerNoblett commented on #48
I figured it out - I replaced.
[code]
with
` this.emit(':ask', speechOutput, HELP_MESSAGE);`
and now it works just fine

[2017-12-19 09:53] jnicho02 commented on #48
yeah, responses in [alexa-sdk](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs) can be defined in either way. If you use the :responseReady style and want to accept user input then it needs to .listen(..) otherwise it is the same as a :tell.

[code]

[2017-12-21 09:53] naik899 commented on #26
@ConorMatthews  How did it get fixed. Can you help me with this?

[2017-12-25 21:44] paveljamal opened #50 "Bad link to code in creating lambda function tutorial"
https://github.com/alexa/skill-sample-nodejs-fact/blob/en-US/instructions/2-lambda-function.md

Critical step linking to the code is returning 404 where it says "Copy and paste the *provided code* into the Lambda function code box.".

[2018-01-02 22:51] #48 closed, assigned to nobody

[2018-01-03 19:49] akersh-s commented on #50
@paveljamal @JennJin @SleepyDeveloper Just checked the link. Looks like this works, closing the issue.

[2018-01-03 19:49] #50 closed, assigned to SleepyDeveloper

[2018-01-04 11:08] #44 closed, assigned to nobody

[2018-01-23 00:38] dfrho opened #57 "Gloucester facts doesn't exist"
Mentions listening to this skill in action by adding skill "Gloucester Facts", which isn't on the marketplace when searched, also a dead link from the ReadMe.

[2018-01-29 16:51] soundarsurya commented on #26
can anyone help me to fix the same problem for mt code...????
i have planned to make an automation so when it call form skill it gives the same error....

[2018-01-29 16:53] soundarsurya commented on #27
i am getting this error "The remote endpoint could not be called, or the response it returned was invalid."
how it will be fixed../???

[2018-01-29 16:56] memodoring commented on #27
You will typically get that error when the JSON object your lambda function is sending back is malformed.

To debug the exact error, copy the JSON generates by the simulator and paste it as a test event in the lambda console.

[2018-01-29 17:59] soundarsurya commented on #27
when i did that i am getting...
**{
  "errorMessage": "RequestId: 05bd74d6-051e-11e8-aff0-c57fcaf78aa9 Process exited before completing request"
}**

what this means...???

[2018-01-30 04:15] naik899 commented on #26
@soundarsurya  I got it fixed by making my api response faster.

[2018-01-30 04:53] soundarsurya commented on #26
@naik899 could you explain in detail please...??

[2018-02-12 10:55] thucldnguyen commented on #13
I figured that I just needed to put the `index.js` file in the same folder as `node_modules` before zipping and the problem went away.

[2018-02-20 03:05] nduckwiler commented on #57
+1 to this issue: The "Gloucester" link is dead in `README.md` and `0-intro.md`

[2018-02-25 19:26] Juresse commented on #26
The remote endpoint could not be called, or the response it returned was invalid.

[2018-02-27 06:13] naik899 commented on #26
@soundarsurya @Juresse  This error can be for couple of reasons as per my experience with Alexa skill set

1. Once it was because the name that I gave my intent in the skills builder did not match the js example for lambda
2. In Lambda, check timeout value (basic setting -> timeout). When I changed to 10 secs, it works.

[2018-02-27 14:40] soundarsurya commented on #26
@naik899 thanks for the response.
i have changed the execution time but i am getting the same?
have any other way to fix??
?

[2018-03-15 01:40] jazzfog opened #61 "Docs: Broken link to "Interaction Model""
This page: https://github.com/alexa/skill-sample-nodejs-fact/blob/en-US/instructions/1-voice-user-interface.md

Has pretty important link that is broken - "Interaction Model" points to not-existing json file
https://github.com/alexa/skill-sample-nodejs-fact/blob/en-US/interactionModel.json

There is a file https://github.com/alexa/skill-sample-nodejs-fact/blob/en-US/models/en-US.json in repo
but i

[2018-03-17 19:45] seanbode commented on #61
This is probably already solved, but I wanted to share this as a solution until this is fixed. The Sample Interaction Model Schema at the bottom of the page, https://developer.amazon.com/docs/smapi/interaction-model-schema.html, saved successfully when I was having a similar issue.

[2018-03-21 16:52] solyarisoftware opened #62 "What are the AMAZON.* intents for?"
Hi

I'm an Alexa- beginner and I do not understand the behavior of this skill:
(testing with https://developer.amazon.com/alexa/console/)

afterward:

again:

it seems to me that after `GetNewFactIntent`, the skill immediately "exit"
and I have to invoke again the skill.

So I do not understand when events will be fired:

[code]
Any idea?

BTW, In general, how can I "maintain" the session open int

[2018-03-24 12:26] yukiando opened #64 "リンク切れ"
https://github.com/alexa/skill-sample-nodejs-fact/blob/ja-JP/instructions/2-lambda-function.md

「Lambda関数のコード入力ボックスに必要なコードを貼り付けます。このスキル用のコードは GitHubにあります。コード入力ボックス内のコードを削除し、この新しいコードを貼り付けてください。」

のGitHubがリンク切れしています。更新していただけますか。

[2018-04-11 10:21] dmitry-grinko commented on #26
Guys, you should increase time and use HTTPS instead of HTTP. Hope it helps someone.

[2018-04-11 13:57] soundarsurya commented on #26
I have increased the execution time but seems to be the same error.
then i leave that and choose HTTP option instead AWS lamba.

On Wed, Apr 11, 2018 at 3:51 PM, Dmitry Grinko <notifications@github.com>
wrote:

[2018-04-23 13:51] mokahaiku opened #73 "TODOs have been removed"
It looks like that all the TODOs in the `index.js` have been removed with this commit: https://github.com/alexa/skill-sample-nodejs-fact/commit/fd7307abef932385ac7b20c1e42a16321f5fea1a

This breaks Part 5 of the tutorial.

[2018-05-03 10:55] franklin-lobb commented on #37
@Nsould Do you still have questions?  There have been some updates to this sample since we released the new version of the SDK.  Take a look and let me know.

[2018-05-03 11:02] franklin-lobb commented on #28
@aledalgrande We have updated the sample since the release of the new SDK.  Other updates are in the works.  If you have specific suggestions for this sample, please open new issue(s) with them.  You can also submit requests through [developer voice](https://alexa.uservoice.com).

[2018-05-03 11:02] #28 closed, assigned to nobody

[2018-05-03 11:17] franklin-lobb commented on #26
@soundarsurya Are you still experiencing a problem?  I took a look at the history and I'm not sure what you're experiencing.  I have not seen this (unmodified) sample hit the timeout threshold, so I would lean towards something else.  However, since this sample has been updated, you have a few options - start over with the latest code which uses the new version of the SDK, use the Serverless Appli

[2018-05-03 13:52] franklin-lobb commented on #73
@mokahaiku The TODO's have been added back.

[2018-05-03 13:52] #73 closed, assigned to nobody

[2018-05-03 13:54] franklin-lobb commented on #61
There have been a few updates recently and it looks like has been resolved.

[2018-05-03 13:54] #61 closed, assigned to nobody

[2018-05-03 13:58] franklin-lobb commented on #35
The application id is not set message was alerting you to a configuration setup step which previously needed to be done.  This step is no longer needed if you configure the Alexa Trigger in AWS Lambda properly. See this for more information [on securing your skill.] (https://github.com/alexa/alexa-cookbook/blob/master/aws/secure-lambda-function.md).

[2018-05-03 14:01] franklin-lobb commented on #35
regarding the other error message, I believe this issue has been addressed as it sounds like the unhanded function error reported elsewhere.  You can try to continue with this sample, switch to new version that uses the updated SDK, or use the Serverless Application Repository to set your backend function up.

[2018-05-04 06:55] soundarsurya commented on #26
What I'm experiencing problem is: when I call from Alexa skill test it
shows "the remote endpoint could not be called".

I have checked and changed execution time of code but still I'm getting the
same.

On May 3, 2018 4:47 PM, "franklin-lobb" <notifications@github.com> wrote:

[2018-05-04 12:22] sohanmaheshwar opened #74 "alexa-cookbook.js"
Hey franklin

Is this line required? it also will throw an error when copied to a lambda SAR

`const cookbook = require('alexa-cookbook.js');`

[2018-05-15 02:43] benzevl commented on #22
could this be updated with current examples?

[2018-05-16 05:26] franklin-lobb commented on #22
@benzevl this is a really old issue.  Can you open a new issue with more details about what you're looking for?  This sample was updated recently with the new SDK.  Did you want more facts, different features?  Some of the other sample skills might give you what you're looking for.

[2018-05-16 05:34] franklin-lobb commented on #26
Is the endpoint a Lambda function or an SSL endpoint?  If it's a Lambda endpoint, I would check to confirm the full arn is present and correct in the skill endpoint configuration (with no extra spaces), the Lambda function has the Alexa Skill Kit trigger and the Skill ID verification in the trigger is either not enabled, or is set to the correct skill id.

More info on endpoint: https://developer.

[2018-05-16 05:35] franklin-lobb commented on #35
closing due to inactivity.  Please reopen or create a new issue is help is still needed.

[2018-05-16 05:35] #35 closed, assigned to nobody

[2018-05-16 05:36] franklin-lobb commented on #37
closing due to inactivity.  Please reopen or create a new issue if help is still needed.

[2018-05-16 05:36] #37 closed, assigned to nobody

[2018-05-16 05:38] franklin-lobb commented on #57
The link has been removed.  As you've noted, that skill is not currently available.

[2018-05-16 05:38] #57 closed, assigned to nobody

[2018-05-16 05:44] franklin-lobb commented on #74
the helper functions were moved into that file.  the required file has not made it into the SAR yet.  I will check on that for you.

[2018-05-16 05:51] franklin-lobb commented on #62
The code you reference is from our older SDK for Node.js.  I suggest updating to the newly release version, however to make that version listen for a response, you would add `.listen()` to the response builder as you can see in the Help Intent handler.  If you do something similar in the GetNewFactIntent handler, Alexa will listen for more input.

This fact sample doesn't get into back and forth i

[2018-05-16 05:51] #62 closed, assigned to nobody

[2018-05-16 08:52] solyarisoftware commented on #62
thanks for your detailed reply!

[2018-05-17 02:48] franklin-lobb commented on #74
updating the template is still in progress, however in the meantime, you can create a file in the Lambda function console (File menu >> New File) and then paste the contents into it.  When saving it, name it alexa-cookbook.js and save it to the "/" folder.

[2018-05-17 02:48] #74 closed, assigned to franklin-lobb

[2018-05-23 02:47] edacostacegb opened #75 "Lambda Code Inline does not display code."
Hello.

I am in tokyo so my region in Alexa dev is Tokyo

I have followed the instruction to create a space fact skill.
I arrive at the lambda configuration step, I create the function, set the trigger.
(My region in Lambda is ap-northeast-1)
When I try to open the function code in the inline editor, the editor does not display anything. The icon is moving and moving.

I can not check nor the defa

[2018-05-23 02:55] franklin-lobb commented on #75
I have seen this once before.  Try a hard refresh on your browser or clearing your browser cache.  In the other case, the person switched to a different browser and it worked.

[2018-05-24 22:38] edacostacegb commented on #75
Hello

Sorry for the late reply.
I have opened lambda in another browser and it worked.

thanks

Regards

Emmanuel

[2018-05-24 22:38] #75 closed, assigned to nobody

[2018-05-31 00:30] jollyjess310 commented on #74
Hi! New to coding/Alexa here.

What code am I supposed to paste into the new alexa-cookbook.js file? I've looked for the helper functions code and cannot find it. Thanks!

[2018-05-31 03:48] franklin-lobb commented on #74
The code from here: https://github.com/alexa/skill-sample-nodejs-fact/blob/en-US/lambda/custom/alexa-cookbook.js

[2018-06-07 01:07] awaemmanuel opened #78 "Simulator spins with no response after invoking skill"
I have configured everything up to the Test stage. I invoke it with `open space geek` and it just spins there and does nothing. Is this a known issue?

[2018-06-07 03:17] franklin-lobb commented on #78
unless you changed the invocation name, try ```open space facts```

[2018-06-07 03:37] franklin-lobb commented on #26
@soundarsurya are you still experiencing this?  If so, can you add some detail about your configuration?  http endpoint or Lambda?  if http, what kind of certificate are you using?  Do your server logs show any sort of activity?  If Lambda, does Alexa have permission to invoke your Lambda function?  Are there any entries at all in the CloudWatch log?

[2018-06-08 03:17] awaemmanuel commented on #78
@franklin-lobb I changed the invocation name to `space geek` and changed it back to `space facts`. Also reverted everything, followed the tutorial again and still not luck. Below is a screenshot of where it gets stuck.
<img width="1215" alt="screen shot 2018-06-07 at 11 02 39 pm" src="https://user-images.githubusercontent.com/3170798/41137362-c984d228-6aa8-11e8-9418-33ccf136c3f2.png">

[2018-06-08 04:28] franklin-lobb commented on #78
I have only seen that when the message is first sent to the endpoint, and then it turns into your utterance.  Perhaps there is something in the browser or the cache causing a problem.  If you try in a different browser, we can rule that out.  Also, if you check the Device Log box, and scroll down, you'll see more detail on what is sent and received.

[2018-06-09 04:01] awaemmanuel commented on #78
@franklin-lobb After a painful debug session, I figured out it was a CORS issue. I tried to enable it with plugins and chromium flags with no luck. Finally I realized it was my antivirus software that was the issue. I disabled web shield and it worked.

[2018-06-09 04:01] #78 closed, assigned to nobody

[2018-06-18 19:46] lubianat opened #81 "[Error]: Failed to deploy. Please ensure current working directory is the root of your skill project."
Hey, after changing the directory where all my files are I get the following error:
[Error]: Failed to deploy. Please ensure current working directory is the root of your skill project.

AWS CLI is properly configured. Do you have a guess of what could be happening?

Thanks for your time

[2018-06-27 06:02] nikkopante opened #84 "Intents dont launch, only invocations."
When you test and utter the sample utterance, the skill wont launch. It only launches when invocation name is called. The Python space facts also do the same.

[2018-07-17 13:24] srlodd commented on #84
I have the exact same problem. In fact if worked for some time and I dont know what happened later.

[2018-07-17 16:14] RolandLeFranc opened #85 "Sample is not ready for FR-fr"
Looking at the folder skill-sample-nodejs-fact/models/, there is no sample interaction model for the French locale.
In particular, what sample utterances would you recommend using in French for "tell me a fact"?

[2018-07-18 03:10] thvinmei opened #86 "Broken link in ja-JP/instructions/3-connect-vui-to-code.md"
The link destination of "_Alexa ユーザーとシステムユーザーを関連付ける_" has a 404 error.
The current link is on top, but correctly is probably not the one below.

[current]
https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/linking-an-alexa-user-with-a-user-in-your-system
[correct?]
https://developer.amazon.com/ja/docs/custom-skills/link-an-alexa-user-with-a-user-in-your-system.html

[2018-07-18 05:32] toshimin commented on #86
Thank you, we will make it updated.

[2018-07-26 09:43] fahimmm opened #88 "Tutorial for ask-cli does not work"
Hi,

the tutorial does not work completlty. If I try to enable the skill I get the error:

Call enable-skill error.
Error code: 403
{
  "message": "Skill is not ready for enablement.",
  "violations": [
    {
      "message": "custom - object has missing required properties ([\"endpoint\"])"
    }
  ]
}

So I guess that some configuration is missing?

![alexa_skill_kit_entwicklerkonsole](https://u

[2018-08-14 19:31] baezor commented on #85
Same with es-mx spanish language. I'd like to contribute with this.

[2018-08-28 15:36] odhiambo123 opened #90 "help with arn"
I can't seem to get the correct format for arn,
is there a place i can get my arn.
I am currently using:
arn:aws:lambda:us-east:#######:ask.skill:myappname

and I keep getting the error : The provided Lambda ARN is not in the correct format.
please help

[2018-08-28 16:28] #90 closed, assigned to nobody

[2018-09-20 04:09] tanmaymohan opened #93 "Broken link : 404 on optional link for securing lambda function"
The [link](https://github.com/alexa/alexa-cookbook/blob/master/aws/secure-lambda-function.md) on Step 11 at [2-lambda-function](https://github.com/alexa/skill-sample-nodejs-fact/blob/en-US/instructions/2-lambda-function.md) for securing the lambda function gives a 404 error.

[2018-09-20 08:28] franklin-lobb commented on #85
both es-MX and fr-FR models have now been added to the master branch.
https://github.com/alexa/skill-sample-nodejs-fact/blob/master/models/es-MX.json
https://github.com/alexa/skill-sample-nodejs-fact/blob/master/models/fr-FR.json
If that doesn't get you what you were looking for, please reopen the issue.

[2018-09-20 08:28] #85 closed, assigned to nobody

[2018-09-21 14:01] tanmaymohan commented on #93
fixed in [#98](https://github.com/alexa/skill-sample-nodejs-fact/pull/98)

[2018-10-07 20:48] ghost opened #101 "How do I port Amazon examples"
I would like to port Alexa skill samples to other programming languages
Is there a guide provided by amzn?

[2018-10-08 20:36] Shivam-Singh-02 commented on #3
Hey Guys that's a very genuine question. I figured out if you add "SessionEndedRequest" intent before your "LaunchRequest" intent(You can put it anywhere though) and inside it just have "this.emit(':responseReady')" and nothing else. Works fine.

[2018-10-14 14:16] shvedPetro opened #102 "Intent call not working, Alexa close session after LaunchRequest."
After i call "open space facts". It's give me a fact, but if after i say "tell me a fact", it's not working, "Sorry, I don't know that". But if i put .reprompt(speakOutput) after line 27 in index.js, it's start working well.

[2018-10-18 20:08] bundito opened #103 "Missing steps for "space fact" tutorial"
You need to manually create the "alexa-cookbook.js" file. At least I did. And replace the contents of "package.json" from the git repo.

[2018-10-19 06:29] hpj1992 opened #104 "Sample code in tutorial and Lambda code from template are not same"
Hi,

1) https://github.com/alexa/skill-sample-nodejs-fact/blob/master/instructions/2-lambda-function.md
2) Step 13
3) Linked here: https://github.com/alexa/skill-sample-nodejs-fact/blob/master/lambda/custom/index.js
4) Code in #4 should be available in Templates in Lambda. But that is not the case.
5) Code from lambda template is completely different.
6) Not easy to understand for the ASK customer

[2018-10-23 08:02] tanmaymohan commented on #93
PR merged

[2018-10-23 08:02] #93 closed, assigned to nobody

[2018-11-08 18:21] #101 closed, assigned to nobody

[2018-11-15 07:06] vCarly commented on #102
That doesn't look like the right line number for me... what is the text of the line you put that after to make it work? Did you discover anything else using this example?

[2018-11-15 08:10] franklin-lobb commented on #102
The skill is designed to tell a fact and then exit, so the behavior @shvedPetro describes is expected.

The .reprompt(repromptOutput) would be added to the GetNewFactHandler, in this part of the code:

[code]
modifying it to listen for a response (and reusing the speak output value in this example, however whenever you are reprompting, the output should end with a question which the fact does not)

[2018-11-29 07:18] chfw commented on #104
I found the same.

First, I found the latest youtube video https://www.youtube.com/watch?v=QkbXjknPoXc after following a few out-dated medium tutorials.

But still, the youtube video is also out-dated . I have to copy and paste the lambda custom index.js to amazon lambda console to get it to work.

[2018-11-29 07:22] chfw commented on #102
Alexa and I were confused about invocation name and intent's slots. If speaking out invocation name to Alexa would trigger a piece of space facts, why bother intent's slots? i.e.

[code]

I am also confused, if there are alternatives to trigger the skill?

[2018-11-29 07:22] chfw commented on #84
I am beginner here. what's the difference between invocation and launch?

[2018-11-29 07:24] chfw commented on #26
please follow the youtube video here to get over the lambda connection issue: https://www.youtube.com/watch?v=QkbXjknPoXc

[2018-12-01 12:50] tommycr opened #109 "I would like to modify the skill to have facts for an specific planet."
In order to acquire more "skills" on development of Alexa Skills I would like to modify this  code and go in a different path.    I would like to:
1.) call the skill  "Alexa, open space curiosities.. "
2.) Alexa responds "For Which planet are you looking for facts  ?"
3.) I will respond for example "Saturn"
4.) Then alexa goes to the fact "website database" and respond with a fact BUT just for the

[2018-12-05 23:17] SleepyDeveloper commented on #64
@yukiando　切られているリンクがもう修正されたようです。

このIssueをCloseします。もし、まだリンクに関する問題であれば、このissueを再開して下さい。

[2018-12-05 23:17] #64 closed, assigned to SleepyDeveloper

[2018-12-06 01:28] franklin-lobb commented on #81
The ASK-CLI needs to be run from the directory where the skill.json file resides.  In that same directory, there needs to be a .ask sub-directory, and a proper config file in that folder.  If you run ask new (which can be run from any directory), you can examine the resulting folder structure and compare it to the one you're having problems with.

[2018-12-06 01:31] franklin-lobb commented on #26
closing due to age

[2018-12-06 01:31] #26 closed, assigned to franklin-lobb

[2018-12-06 01:38] franklin-lobb commented on #102
Space facts is a simple skill which only does one thing - tell you a fact.  As a result, invoking the skill essentially does the same thing as invoking the skill and asking for a fact in a single utterance.  However, since the session is not kept open (in the way the code is currently setup), it is not possible to access the other functionality (like help), without combining it into a single utter

[2018-12-06 01:38] #102 closed, assigned to nobody

[2018-12-06 03:33] franklin-lobb commented on #84
@chfw invoking a skill is the same thing as launching the skill.

[2018-12-06 03:41] franklin-lobb commented on #84
@cnpants @srlodd the skill doesn't keep a session open after it tells you a fact, so you have to use the invocation name each time you want to use the skill.  If you wanted to trigger an IntentRequest as opposed to a LaunchRequest, you'll need to include an utterance (e.g. give me a fact) with the inocation name (e.g. ask space facts to get me a fact).  Alternatively, you could use .reprompt() to

[2018-12-06 03:46] franklin-lobb commented on #88
Check the output from your `ask deploy` command.  That command creates the skill, builds the interaction model, uploads the code to AWS Lambda, and then connects the Lambda function with the skill.  If the endpoint is not configured, it typically means that the Lambda function did not get created correctly.

[2018-12-06 03:49] franklin-lobb commented on #103
that file is no longer part of the sample, so you should be good to go.  The package json contents are current.

[2018-12-06 03:49] #103 closed, assigned to nobody

[2018-12-06 03:54] franklin-lobb commented on #109
@tommycr check out this sample: https://github.com/alexa/skill-sample-nodejs-fact-in-skill-purchases

Look beyond the In-Skill Purchasing and you'll see it's a fact-by-category skill.  Make the planets your categories, and then update the source of the data (or embed the data).

You may want to explore the In-Skill Purchasing while you're at it.  :)

[2018-12-06 13:18] tommycr commented on #109
@franklin-lobb . Thank you very much, for your great Help !  I think is perfect for me, because force me to understand the lambda environment, (index.js) but still complicated for me.....
First I am "cleaning" the code by removing all the unnecessary sentences, BUT I have no luck, trying to pass it through the dialog model.  I just want  to read the "facts" from the embedded data, not from data so

[2018-12-07 05:41] franklin-lobb commented on #109
In-Skill Purchasing is only available in en-US, so if you're aiming for es-ES, no need to work on ISP's (yet).

If you need additional assistance, open a new issue or check out the [forums](https://forums.developer.amazon.com/spaces/165/index.html)

Good luck!

[2018-12-07 05:41] #109 closed, assigned to franklin-lobb

[2019-01-26 00:17] franklin-lobb commented on #88
if you still see this issue, please reopen this issue or open a new one.

[2019-01-26 00:17] #88 closed, assigned to franklin-lobb

[2019-01-26 00:19] franklin-lobb commented on #84
if you're still experiencing this issue, please re-open the issue or open a new one.

[2019-01-26 00:19] #84 closed, assigned to franklin-lobb

[2019-01-26 00:19] franklin-lobb commented on #81
if you're still experiencing this issue, please re-open the issue or open a new one.

[2019-01-26 00:19] #81 closed, assigned to franklin-lobb

[2019-02-12 02:22] franklin-lobb commented on #86
the referenced link has been removed from the page, so problem solved.  Thanks for the feedback!

[2019-02-12 02:22] #86 closed, assigned to SleepyDeveloper

[2019-02-13 04:01] theNaut1lus commented on #104
Is anyone still working on the or could I have a go? @franklin-lobb

[2019-03-13 12:27] niceguydave commented on #104
I'm sure @franklin-lobb would be happy for you to put out a PR 👍

[2019-06-08 20:03] dash-mode commented on #104
Not exactly the same issue, but when I fork this repository into my github account, I get a different index.js. Please look into it.

[2019-07-25 23:05] vpayette opened #120 "Link broken"
The click here link is broken in the space facts sample: https://github.com/alexa/skill-sample-nodejs-fact/blob/master/instructions/cli.md
redirects here: https://github.com/alexa/skill-sample-nodejs-fact/blob/master/instructions/1-voice-user-interface.md

404

[2019-07-27 03:45] franklin-lobb commented on #120
broken link issue resolved.

[2019-07-27 03:45] #120 closed, assigned to nobody

[2019-08-02 16:52] AzT3Risk opened #121 "Voice model and sample code not working for Hindi"
I've tried to use the sample code to build an alexa skill in Hindi but every time I pass a valid user input I'm not getting any proper output. I'm using alexa hosted back-end.
Example:
Me: ( A valid user invoke statement )
Alexa: "< Audio Only Response >"

[2019-08-19 09:42] s4nyam opened #122 "'Key' are coming in response"
On forking this to AWS lambda, and testing in developer console it gives:

[SOLVED]

[2019-08-19 09:47] #122 closed, assigned to nobody

[2019-08-26 20:15] genialkartik commented on #121
@Souvik-py which browser are you using to test your sample code. If it is Firefox then it needs permission to use microphone (to take input in audio format from user). Alternative: you can type your invoke statement. for detailed answer you can navigate to: https://developer.amazon.com/docs/custom-skills/handle-requests-sent-by-alexa.html #118

[2019-12-03 06:26] josephraj2k16 opened #126 "Need to read firebase(firestore data)"
Hi,
Can you upload a sample code to read firestore(Google's firebase storage) data??

[2020-01-08 03:22] vitostrokov opened #128 "Runtime"
The Runtime needs to be changed for the AWS Lambda Template
Runtime: nodejs8.10 is not supported any longer

[2020-01-08 15:15] bluepuma77 opened #129 "Proposal: add external API usage with async/await to example"
What I am missing so far from the basic skill examples in NodeJS is the use of an API.

alexa / skill-sample-nodejs-hello-world
alexa / skill-sample-nodejs-fact
alexa / skill-sample-nodejs-first-skill
alexa / skill-sample-nodejs-trivia
alexa / skill-sample-nodejs-quiz-game

How do you call an external service and process the response, especially with async/await.

Or did I just didn't see it when

[2020-02-10 09:17] AyushiMidha opened #130 "what is .t() in this line of code randomFact = requestAttributes.t('FACTS');?"
I didn't get what is .t( ) in this line const randomFact = requestAttributes.t('FACTS');.
Is t( ) is an inbuilt function?
what is it doing?

[2020-02-10 13:37] mauriliofilho commented on #130
This is part of Interceptors method, to load strings const based on your language/locale of you Skill is

look at     line 148 on attributes.t = function translate(...args) {
this is where .t() is loaded with your strings 'FACTS' on bottom of file, you  find all string to your skill based on language/locale

[2020-03-04 12:22] zoomerkind opened #132 "Broken links in the docs"
"If this is your first skill, choose the Alexa-Hosted backend instructions to get started quickly.
If you want to manage the backend resources in your own AWS account, you can follow the AWS-Hosted instructions.
Developers with the ASK Command Line Interface configured may follow the ASK CLI instructions."

Ask CLI and AWS-Hosted instruction links are broken.

[2020-05-06 02:40] glaze17 opened #139 "AMAZON.RepeatIntent"
I've been looking for two days and I am not able to find ANYTHING that outlines how to code the AMAZON.RepeatIntent in the fact skill :/ I know you have to add a session attribute, but I'm not sure where to that. I'm assuming somewhere in the GetNewFactHandler?

Is there anything else that needs to be done besides updating these two handlers? Anything with keeping the session open?

Thanks so much

[2020-08-12 00:41] mauriliofilho commented on #132
Follow folder "instructions" on root of the folder code, thats is all files with tutoral sequence of learning!

[2021-07-15 22:20] kweekhant commented on #139
kweekhant4545@gmail.com

[2021-11-19 09:42] nishantcasey opened #146 "Template specifies deprecated Runtime 10.x"
When attempting to deploy this using Lambda Application based SAM deploy, the CloudFormation stack errors out with the following error:

"The runtime parameter of nodejs10.x is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs14.x) while creating or updating functions."

**Workaround**
1. Copied the SAM template provided as part of the

[2021-12-03 03:36] holla2040 opened #147 "doesn't create a skill"
I've tried several times, something happens then rollback occurs. Once rollback completes, no skill shows up and I can't use the template to create a skill with the same name.

[2022-02-07 11:37] sjdee commented on #146
Hi mate, I was trying to run the template and was having the same issue - can you share the steps you followed to set up the stack in nodejs14.x? It'd be a great help as I'm still getting into this space. Cheers

Did you use the template below and how did you deploy it?
`AWSTemplateFormatVersion: '2010-09-09'
Metadata:
  Name: alexa-skills-kit-nodejs-factskill
Transform: AWS::Serverless-2016-10-31

[2022-02-07 11:44] sjdee commented on #147
Hi mate, were you successful in getting this setup? trying to work this out myself

[2022-02-07 17:57] nishantcasey commented on #146
The steps were as follows:

1. Publish a new Private SAM application in Serverless Application Repository.
- https://console.aws.amazon.com/serverlessrepo/home?region=us-east-1#/published-applications/create
- (Select the relevant region you’re looking to deploy this application or change it in this URL)
- Application Name -> Anything you wish, I used ‘AlexaSkillsNode14’ for example
- Author -> I

[2022-04-04 06:14] Keshavdulal commented on #146
Coming from a [2018 tutorial](https://www.youtube.com/watch?v=BB3wwxgqPOU), the above solution worked!

[2022-05-09 09:38] CommanderRedYT opened #148 "de-DE Model incorrect"
The de-DE model is definitely not german, but danish. Please revert changes of commit c1cb2284e3b76fc83f5a05e534062b1eee4f111f to the file

[2022-05-11 02:57] MarioPelletier commented on #147
Same problem.  Is it possible that the nodejs10.x is the problem?

Resource handler returned message: "The runtime parameter of nodejs10.x is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs14.x) while creating or updating functions.

[2022-11-23 17:41] aszk commented on #147
We have updated the serverless app. You should be able to deploy it.

[2022-11-23 17:41] #147 closed, assigned to nobody

[2022-11-23 17:41] aszk commented on #146
We have updated the serverless app. You should be able to deploy it.

[2022-11-23 17:41] #146 closed, assigned to nobody

[2022-11-23 17:42] aszk commented on #128
We have updated the serverless app. You should be able to deploy it.

[2022-11-23 17:42] #128 closed, assigned to nobody